# Question -1

In [1]:
#lets now import all the required library

import pandas as pd

from selenium import webdriver

from selenium.common.exceptions import NoSuchElementException

import time

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
#finding element for job search bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [5]:
#finding element for location bar

search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [6]:
#do click using class_name function

search_btn = driver.find_element_by_class_name('btn')
search_btn.click()

In [7]:
#so lets extract all the tags having the job-titles

title_tag = driver.find_element_by_xpath("//a[@class='title fw500 ellipsis']")

title_tag

In [8]:
#Finding all job titles

titles_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

titles_tag

[<selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="378622b4-246a-483e-b6f7-acf090d28f4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="fa51c7fb-d169-43de-a29e-eba1c4a3044c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="9473473d-5261-46f8-b83d-4575393261ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="ccb2bfa5-c99a-4ccb-b04f-3a0bb8344026")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="d9074bb2-f15f-423c-a39d-53ae68903755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="6f2951af-1a21-429c-bb67-1cabfc2446d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="1e6c03bd-8923-41be-b968-20759cd27266")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="2d91fd8b-2f43-4255-bde3-6192283b35ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="94854b50-8e47-429e-9c3a-5aabb836269a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="b0c993f6-9b21-45bd-b724-4b3aca1bf0e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="a6198fc4-9428-4132-b7ae-cae4e2e30d92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="928d7150-31ec-49dd-aae6-03bba58828d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="66ea12ad-45ab-47fd-b2fa-2c22a3e40bd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="2e373db4-dc3e-40cb-8467-fa30cbf6fae5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="40387987-3482-4295-82f6-274b79857f73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="52a90413-1d05-48b6-9f78-b000d914234e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="21e320aa-9818-4601-98fb-0718ed74fb6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="2c0e924c-741f-4bcf-8d88-603b9d068ef9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="f12fd279-495c-4b23-ad08-2d84ea921fba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="eef93b6e-f690-4da1-821a-cf2cde63673b")>]

In [9]:
titles = []

for i in titles_tag[:10]:
    titles.append(i.text)
    
titles

['Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Looking For Data Scientist For Infogain',
 'Data Scientist - Python/MATLAB/Machine Learning Algorithms',
 'Data Scientist - Machine Learning',
 'Senior / Lead Data Scientist',
 'Data Scientist',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)']

In [10]:
companies_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tag

[<selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="bf101854-1c56-4d39-ba3b-3400e1f22538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="42f0fabd-5ae8-4ac7-930b-177aee053f70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="f9f858a0-ca92-42bd-9133-1de09ceb2903")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="34a16d20-328f-4933-8480-7b9268663270")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="a82bef2c-9a72-468b-bbfa-5b621b0d6a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="453ce586-d651-4f42-9ddf-a8ea9865943d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="86276d37-c4d5-4f55-aef1-8baacff07403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="f28ce03b-ed77-49d0-9369-eefd65cc1dd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="f2bcef89-45a3-4774-a4dd-86a36f32ab08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="f3a891de-6587-4c97-acd3-5e1b700b8554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="0997767a-bd79-4349-944d-a2304d079ef3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="377a9f72-91b4-44e3-9842-591766883ba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="98bd38e8-cd0a-40d1-abda-aee30f985fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="60450b54-e29c-4e33-9684-4729f58fdbc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="b45638f5-c188-49f3-bd09-fc34f743f582")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="6cbaf68a-a0b1-4752-8d2c-f17de80ee2cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="f26a10f5-d37f-4328-be6d-f7bdfcc41f2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="942bedf5-471a-42d2-8179-dbac6aa78edf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="a6779191-f270-4cda-bc0a-73bcc9f4e456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="c5727ab0-1b15-4c54-9887-137a645f1742")>]

In [11]:
company_name = []

for i in companies_tag[:10]:
    company_name.append(i.text)
    
company_name

['Fractal Analytics',
 'Fractal Analytics',
 'Persistent Systems Limited.',
 'Wipro Limited',
 'Infogain India (P) Ltd.',
 'Wrackle Technologies Pvt Ltd',
 'AugmatrixGo',
 'TVS CREDIT SERVICES LIMITED',
 'Oracle India Pvt. Ltd.',
 'GlobalEdx Learning and Technology Solution Pvt Ltd']

In [12]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

experience_tags

[<selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="98dda7e1-e2d0-4fd0-a2d4-9b9ce86b1150")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="2f231019-1e36-4773-bc13-da3c667fd903")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="150162d4-9777-435a-863f-9561c178d518")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="cc7285ae-37b9-4911-9246-291a1ef09702")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="1c1c75f3-112c-4985-941c-ad742f6230fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="7be2fc52-a048-402f-a22b-249015bab5a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="dc8f6435-af64-4dec-a716-934492a39423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="825cc871-16ad-4926-9592-8e9a4e76df3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="1376f9d0-ea64-4221-8111-31400bd90aea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="d9a42dc7-a7f7-4269-96e5-bb324baaf575")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="68aea309-00c7-4ef9-b89c-67941f6e84e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="7f844ad8-34a5-4e4b-8d79-431eb876f7e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="b7320353-492e-47ac-8ed5-f53dab233146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="7464321b-2c20-4fdb-896c-f55dce5a0594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="3a06f5b4-e4f1-43b8-ae33-c541acecd4ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="361a9ac1-a36b-4ec3-9ac2-1171fd930cf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="708343ae-98cc-4cb9-af85-1dd7314c0675")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="a35a2e3a-5b32-4420-84b1-c304b1c78b61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="5e8c0a7e-aa7b-4f49-a1ed-b2102fec0520")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="ae2e93a5-2917-48a4-b5d1-17b4f9762b5c")>]

In [13]:
experience = []

for i in experience_tags[:10]:
    experience.append(i.text)

experience

['4-8 Yrs',
 '5-10 Yrs',
 '8-13 Yrs',
 '4-9 Yrs',
 '10-20 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '6-10 Yrs',
 '3-8 Yrs']

In [14]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

location_tag

[<selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="44e8f2cc-63e8-4110-b7ee-eb663d71f03b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="86217d03-aa47-44a6-8657-55197530367a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="0935d5fb-b97b-455a-badf-b9117645444d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="5dd015ea-f6fc-4a37-b9c8-50ddb26c085e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="8d8756f6-4190-4c9a-b495-8bf5a3bce687")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="4947d85a-bc1b-4697-a2d1-5b080ed60e3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="81062d01-c8f2-4600-bc9b-127e1e01fe43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="8972bb03-fdb3-4b25-80be-c392f164303c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="2cf528a4-2b7c-4913-bc1d-3d6e1f76f8fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="3863db9e-6384-458c-8e8d-3012f7d3d6ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="49ffdd31-ffa0-45d4-a5d1-da8ad613f86f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="0c8f0e9a-3e3e-4beb-a61c-417e9f7022ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="5217b582-250b-4801-ab9a-add57ba72d9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="f1bb12c2-54c7-451b-8d75-aa181e1e7711")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="3196df7a-6c82-4f43-9de1-29a4f3026ce0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="cfa24ecb-c4d2-41c7-b212-0bcaceb552f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="4c1fdb93-9799-47f0-ba64-bb63139e3b80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="055810f1-9d62-485e-8d22-d4bf7e6c0685")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="5ed2267a-47f4-4665-80ad-e56bef9b0587")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5f7e44e1a99ca8ef29c3746a083222ef", element="81753d1b-a2f7-4dd0-b274-9b299a8eff78")>]

In [15]:
locations = []

for i in location_tag[:10]:
    locations.append(i.text)
    
locations

['Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Noida(Sector-60 Noida), Bangalore/Bengaluru(Electronics City Phase 1), Mumbai (All Areas)(SEEPZ)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [16]:
print(len(titles),len(company_name),len(locations),len(experience))

10 10 10 10

In [17]:
Data_Scientist = pd.DataFrame({})

Data_Scientist['Jobs'] = titles
Data_Scientist['Company'] = company_name
Data_Scientist['Experience'] = experience
Data_Scientist['Location'] = locations

Data_Scientist

,Jobs,Company,Experience,Location
0,Senior Data Scientist,Fractal Analytics,4-8 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Senior Data Scientist,Fractal Analytics,5-10 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
2,Data Scientist,Persistent Systems Limited.,8-13 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru"
3,Data Scientist,Wipro Limited,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
4,Looking For Data Scientist For Infogain,Infogain India (P) Ltd.,10-20 Yrs,"Noida(Sector-60 Noida), Bangalore/Bengaluru(El..."
5,Data Scientist - Python/MATLAB/Machine Learnin...,Wrackle Technologies Pvt Ltd,3-8 Yrs,Bangalore/Bengaluru
6,Data Scientist - Machine Learning,AugmatrixGo,2-5 Yrs,Bangalore/Bengaluru
7,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,3-8 Yrs,"Pune, Chennai, Bangalore/Bengaluru"
8,Data Scientist,Oracle India Pvt. Ltd.,6-10 Yrs,Bangalore/Bengaluru
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,3-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."

# Question - 2

In [18]:
titles

['Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Looking For Data Scientist For Infogain',
 'Data Scientist - Python/MATLAB/Machine Learning Algorithms',
 'Data Scientist - Machine Learning',
 'Senior / Lead Data Scientist',
 'Data Scientist',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)']

In [19]:
locations

['Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Noida(Sector-60 Noida), Bangalore/Bengaluru(Electronics City Phase 1), Mumbai (All Areas)(SEEPZ)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)']

In [20]:
company_name

['Fractal Analytics',
 'Fractal Analytics',
 'Persistent Systems Limited.',
 'Wipro Limited',
 'Infogain India (P) Ltd.',
 'Wrackle Technologies Pvt Ltd',
 'AugmatrixGo',
 'TVS CREDIT SERVICES LIMITED',
 'Oracle India Pvt. Ltd.',
 'GlobalEdx Learning and Technology Solution Pvt Ltd']

In [21]:
job_url = []

job1 = driver.find_elements_by_xpath("//div[@class='info fleft']/a")

for i in job1[:10]:
    job_url.append(i.get_attribute('href'))

job_url

['https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-4-to-8-years-240521501478?src=jobsearchDesk&sid=16222915063277435&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-mumbai-all-areas-5-to-10-years-240521007717?src=jobsearchDesk&sid=16222915063277435&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-persistent-systems-limited-hyderabad-secunderabad-pune-bangalore-bengaluru-8-to-13-years-260521006008?src=jobsearchDesk&sid=16222915063277435&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-wipro-limited-kolkata-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-210521000038?src=jobsearchDesk&sid=16222915063277435&xp=4&px=1',
 'https://www.naukri.com/job-listings-looking-for-data-scientist-for-infogain-infogain-india-p-ltd-noida-bangalore-bengaluru-mumbai-all-areas-10-to-20-years-280521000845?src=jobsearchDesk&sid=16222915063277435&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-matlab-machine-learning-algorithms-wrackle-technologies-pvt-ltd-bangalore-bengaluru-3-to-8-years-161220907168?src=jobsearchDesk&sid=16222915063277435&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bangalore-bengaluru-2-to-5-years-140121905423?src=jobsearchDesk&sid=16222915063277435&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-tvs-credit-services-limited-pune-chennai-bangalore-bengaluru-3-to-8-years-261220002239?src=jobsearchDesk&sid=16222915063277435&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-190521008276?src=jobsearchDesk&sid=16222915063277435&xp=9&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16222915063277435&xp=10&px=1']

In [22]:
job_desc = []

for i in job_url:
    driver.get(i)
    time.sleep(3)
    try:
        job_des = driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc.append(job_des.text.replace('\n',' '))
    except NoSuchElementException:
        job_desc.append('-')

In [23]:
job_desc

['Job description Job Responsibilities: Work with product managers and clients to better understand the business problem Think through a business problem and come up with a set of hypotheses Create a list of potentially relevant supporting data elements Work with data engineers and/or data analysts to procure data and test it for problems Collaborate with other Data Scientists Propose modeling approaches Mine the data to check completeness, value distributions, etc. Data imputation and feature engineering Test data for signal Run feature selection Tune the model Set up tests for the model health Collaborate with product managers to find the best way to present the results Work with developers on productionizing models Must Have A minimum of 6 years of post-academic experience developing advanced analytics and applying data science in a business environment Experience in data mining techniques and methodologies (data prep/modeling, classification, regression, clustering, causal modeling, AI, machine learning, ensemble approaches) Experience developing in Python within a production environment Advanced experience in data visualization tools with a strong grasp of effective data modeling and visualization practices The ability to rapidly develop proof of concepts and test new ideas, as well as the ability to scale these ideas into production ready models that can be deployed within our organization Examples of how your passion for data driven decision making and intellectual curiosity translated in to value for your organization Nice to Have An advanced Degree (Masters or PhD) in engineering, mathematics, physics, economics, computer science, statistics, or business analytics or Experience leveraging cloud platforms such as Amazon Web Services (AWS) and Google Cloud Platform (GCP) Strong research skills and the ability to put emerging ideas into practice RoleTechnical Architect Industry TypeManagement Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate in Any Specialization PG :Post Graduation Not Required Key Skills Computer scienceGCPData modelingArtificial IntelligenceBusiness analyticsMachine learningData miningAWSPythonTesting',
 'Job description Position Description:  The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.  Job Responsibilities:  Ability to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadership Work with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions Fast learner: ability to learn and pick up a new language/tool/ platform quickly Conceptualize, design, and deliver high-quality solutions and insightful analysis Conduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems Collaborate and coordinate with different functional teams (engineering and product development) to implement models and monitor outcomes Ability to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization  Experience Required:  Minimum 3+ years of experience in Machine Learning domain Expert level proficiency in at least one of R and Python Ability to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms Experience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance Problem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes Intermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis We use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regulabasis. If you know few of them you are good to go  Good to Have: Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems Experience of working in on one or more domains: CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management BFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection Healthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse Experience in working with Linux computing environment and use of command line tools like sed/awk Good grasp on databases including RDBMS, NoSQL, MongoDB etc.  Education Qualification:  B.Tech / M.Tech in Computer Science / Mathematics / Signal Processing or related fields from one of the premier Institutes (IITs/NITs/BITS) Do write back if you would be interested in the same.  RoleTeam Lead/Technical Lead Industry TypeMiscellaneous Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/B.E. in Any Specialization Key Skills SASMachine LearningPython RNoSQLArtificial IntelligenceData StructuresGoSupply Chain ManagementData AnalyticsAWSDeep Learning Skills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Job description Role: Data Scientist  Roles and Responsibilities Suitable candidates will be part of Wipro Digital-Intelligent Enterprise practice. The role entails leveraging Data Science and Machine Learning to solve typical problems within an organization and create IP that could be deployed in a productized mode. This will entail significant hands-on work on multiple Big Data Technologies, Data Analysis, Identifying data patterns, ML models, Insights generation. The role entails deployment in a customer context and managing customer expectations.  Technical Skills Required: Hands on with Python or R Analytics using industry leading BI tools and technologies Implementation knowledge of supervised\\un-supervised machine learning algorithms Good statistical analysis skills for data pre-processing and data wrangling Experienced in using big data frameworks like Hadoop Knowledge of business intelligence tools or reporting tools  Data Preparation for Modeling Missing Data Imputation,Outlier Treatment Scaling, Normalization, Standardization Encoding for Categorical Variables Oversampling\\Undersampling for reducing class imbalance  Experience in building solutions using Model Library Feature Selection Tree-based Ensemble Models Gradient\\Adaptive Boosted Trees Hyper-parameter tuning Building Prediction mechanisms using methods like Logistic regression, voting classifier stacking etc    RoleSoftware Developer Industry TypeIT Services & Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/B.E. in Any Specialization Key Skills Data ScienceMachine LearningPython Logistic RegressionData WranglingHadoopData AnalysisBig DataStatistical Analysis Skills highlighted with ‘‘ are preferred keyskills',
 "Job description Dear Candidates We are looking for an Experienced Data Scientist Architect for our organization Infogain, Please find below the Company Description and JD for the same below.  Our office location is at: 1, Seepz Rd A, Seepz, Andheri East, Mumbai, Maharashtra 400096 B, Aundh IT Park, Bhau Patil Marg, Pragati Nagar, Bopodi, Pune, Maharashtra 411020(Acquired Company)  No.90B, ELCITA PID No. 295 of Konappa Agrahara, Electronic City, 1st Phase, Bengaluru 560 100, Karnataka State Noida- Sector 60 Gautam Budh Nagar UP.  Please Note: We have our office located only in the above locations mentioned. No Cabs are provided.  Company description: Infogain is a global business oriented IT consulting provider of front-end, customer-facing technologies, processes and applications, leading to a more efficient and streamlined customer experience for enterprises in the US, Europe, the Middle East, Asia Pacific and India. Offering solutions for the high-tech, retail, insurance and travel & hospitality verticals, Infogain specializes in digital transformation, ERP, CRM, software product engineering, knowledge management, cloud services, and mobility. Infogain has strong partnerships with industry leaders including Microsoft, Oracle and Salesforce. Headquartered in Californias Silicon Valley, Infogain has close to 5,000 employees providing consulting, technology and digital transformation services to clients around the globe. Visit us online at www.infogain.com  Roles and Responsibilities  Role: Data Scientist Experience: 10+ years Location NCR/Bangalore/ Mumbai/Pune  As an data scientist, the candidate should be able to lead and deliver the end-to-end data science projects and should be able to frontend with the clients. Strong exposure to AI/ML space with hosted model (Azure, AWS, or Google).  Primary Responsibilities: Deep learning experience with Tensor flow and Kera's or Pytorch is must Experience with the following is preferred Different data processing libraries such as Numpy, SciPy, Pandas, Matplotlib, Scikit-learn Experience with one or more general purpose programming languages including but not limited to: Python (Must), R, Java, or C/C++. Different neural Networks ANN, CNN, RNN, LSTM, Transformer Based models, GAN, Reinforcement Learning Familiarity with different model architectures AlexNet, ResNet, MobileNet etc., in Computer Vision & BiLSTM, Bert family models. Experience with distribution strategies for data and model parallelism Development of mobile applications with tensor flow (TF Lite) Experience in the development of End-to-end production-based models. Cloud deployment of any machine learning models. Understanding of advanced machine learning data pipelines components including Data Versioning, Code Versioning, Solution Versioning, Drift detection, Model Interpretability & explainability. Experience with Structured Data Machine Learning techniques Used AutoML techniques. Worked or knowledge on distributed computing example Spark. Experience with open source systems such as MLFlow, DVC, PyCaret, Prophet etc.  Additional Responsibilities: Experience in digital marketing or marketing is a plus Should be well versed with Cloud Platforms (AWS, Azure, GCP) and their Ecosystem Expected to partner with other 3rd party vendors, customer touch points (Application, Data and Infrastructure Architects) to deliver best in class solutions Should have Good architecture experience in applications development in a complex, multi-platform distributed environment. Education: BE or MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, or a related technical field. Experience: 6 + years of overall Experience 4+ years in overall AI and ML experience with python  Perks and Benefits  Email your resume on: anoushka.goyal@infogain.com   RoleIT/Technical Content Developer Industry TypeIT Services & Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryOther Education UG :B.Tech/B.E. in Any Specialization PG :MS/M.Sc(Science) in Any Specialization Doctorate :Ph.D in Computers Key Skills PytorchArtificial IntelligencePython TensorflowCnnRnnLstmNeural NetworksReinforcement LearningComputer Vision Skills highlighted with ‘‘ are preferred keyskills",
 'Job description Roles and Responsibilities Data Scientist - Data Mining/Machine Learning/Statistical Analysis  Requirements :  - 3-9 years of strong experience in data mining, machine learning, and statistical analysis.  - BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)  - Ability to lead and deliver in a fast-paced start-up environment.  - Fluency in tools such as Matlab, Python, etc.  - Strong intuition for data and Keen aptitude on large scale data analysis  - Excellent written and verbal communication skills.  - Ability to collaborate across teams and strong interpersonal skills. RoleData Analyst Industry TypeIT Services & Consulting Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Sc in Maths, Computers, Statistics PG :MS/M.Sc(Science) in Computers, Statistics, Maths Doctorate :Ph.D in Statistics, Computers, Maths, Doctorate Not Required Key Skills Data ScienceData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job description Roles and Responsibilities   - Selecting features, building and optimizing classifiers using machine learning techniques  - Data mining using state-of-the-art methods  - Enhancing data collection procedures to include information that is relevant for building analytic systems  - Processing, cleansing, and verifying the integrity of data used for analysis  - Doing ad-hoc analysis and presenting results in a clear manner  - Creating automated anomaly detection systems and constant tracking of its performance  Skills Required :  - Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.  - Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc  - Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization  - 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks  - Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable  - Proficiency in using query languages such as SQL, Hive, Pig  - Good applied statistics skills, such as distributions, statistical testing, regression, etc.  - Good scripting and programming skills  - Data-oriented personality  - B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS RoleData Analyst Industry TypeIT Services & Consulting Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Tech/B.E. in Any Specialization PG :M.Tech in Any Specialization Doctorate :Doctorate Not Required Key Skills HiveRCloud ComputingData ScientistComputer VisionMachine LearningDeep LearningSQLPig',
 'Job description  Key Responsibilities Be responsible for scaling our analytics capability across all internal disciplines and guide our strategic direction in regards to analytics Organize and analyze large, diverse data sets across multiple platforms Identify key insights and leverage them to inform and influence product strategy Technical Interactions with vendor or partners in technical capacity for scope/ approach & deliverable. Develops proof of concept to prove or disprove validity of concept Working with all parts of the business to identify analytical requirements and formalize an approach for reliable, relevant, accurate, efficient reporting on those requirements Designing and implementing advanced statistical testing for customized problem solving Deliver concise verbal and written explanations of analyses to senior management that elevate findings into strategic recommendations.  Desired Candidate Profile  Qualifications:MTech / BE / BTech / MSc in CS or Stats or Maths, Operation Research, Statistics, Econometrics or in any quantitative fieldExperience:3+ Years experience in analytical domain  Functional Competencies: Excellent analytics, logical, problem solving and numerical skills Experience in using Python Experience in working with large data sets and big data systems (SQL, Hadoop, Hive, etc.) Keen aptitude for large-scale data analysis with a passion for identifying key insights from data Expert working knowledge in various machine learning algorithms such XGBoost, SVM Etc., Expertise in Data Mining, Statistical Analysis, Regression, Logistics Regression, Segmentation, Time Series Forecasting, Market Basket Analysis, Decision Tree, CHAID, Test Mining, Hypothesis Testing, A/B Testing and Modeling Preferable to have Experience in Credit risk analytics, Fraud analytics Experience in Collections analytics, NPA Analytical experience in Vehicle lending business (Two wheeler, Tractor, Car, Commercial) and unsecured loans. Customer Acquisition  RoleAnalytics Manager Industry TypeBanking Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Tech/B.E. in Any Specialization PG :PG Diploma in Any Specialization, M.Tech in Any Specialization, MCA in Any Specialization, MBA/PGDM in Any Specialization, MS/M.Sc(Science) in Any Specialization Key Skills Decision TreeHadoopRegressionData MiningRandom forestMachine LearningSQLAlgorithmsXgboostRisk Analyticspredictive modelingAdvanced AnalyticsData AnalysisTime SeriesAWSPython',
 '-',
 'Job description Dear Aspirant,  Greetings from Globaledx  Roles and Responsibilities  Experience : 3+ Years CTC : Best in Market Location : Pan India Contract Period : 3-6 Months Skill : Python, NLP, Machine Learning Models, Data Scientist  Interested, please share your updated resume to hr@globaledx.com Or Call /Whatsapp at Sowjanya : 9505072408  Please share with your friends for more reach! RoleIT/Technical Content Developer Industry TypeIT Services & Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryOther Education UG :Any Graduate in Any Specialization Key Skills PostgresqlDATA SCIENTISTMachine LearningScikit-LearnsqlpandasNLPoptimal codingRundeckmachine learning modelslogging frameworkshtmlNUMPYPython']

In [24]:
print(len(titles),len(company_name),len(locations),len(job_desc))

10 10 10 10

In [25]:
Jobs = pd.DataFrame({})

Jobs['Title'] = titles
Jobs['Company'] = company_name
Jobs['Location'] = locations
Jobs['Job Description'] = job_desc

Jobs

,Title,Company,Location,Job Description
0,Senior Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Job description Job Responsibilities: Work wit...
1,Senior Data Scientist,Fractal Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Job description Position Description: The Art...
2,Data Scientist,Persistent Systems Limited.,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",-
3,Data Scientist,Wipro Limited,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Job description Role: Data Scientist Roles an...
4,Looking For Data Scientist For Infogain,Infogain India (P) Ltd.,"Noida(Sector-60 Noida), Bangalore/Bengaluru(El...",Job description Dear Candidates We are looking...
5,Data Scientist - Python/MATLAB/Machine Learnin...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,Job description Roles and Responsibilities Dat...
6,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,Job description Roles and Responsibilities -...
7,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Pune, Chennai, Bangalore/Bengaluru",Job description Key Responsibilities Be respo...
8,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru,-
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...","Job description Dear Aspirant, Greetings from..."

# Question -3

In [26]:
driver = webdriver.Chrome('chromedriver.exe')

In [27]:
driver.get('https://www.naukri.com/')

In [28]:
search_tag = driver.find_element_by_id('qsb-keyword-sugg')
search_tag.send_keys('Data Scientist')

In [29]:
search_button = driver.find_element_by_xpath("//div[@class='search-btn']")
search_button.click()

In [30]:
location_filter = driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")

for i in location_filter:
    if i.text == 'Delhi / NCR':
        i.click()
        break

In [31]:
Salary_filter = driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")

for i in Salary_filter:
    if i.text == '3-6 Lakhs':
        i.click()
        break

In [32]:
job_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [33]:
jobs = []

for i in job_tag[:10]:
    jobs.append(i.text)
    
jobs

['Data Scientist / Data Analyst -Business Analyst',
 'Data Engineers /Data Scientist - CES IT LTD - CMMI LVL 5',
 'Data Engineers /Data Scientist - CES IT LTD - CMMI LVL 5',
 'Data Scientist',
 'Business Analyst- Data Scientist',
 'Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Hiring For Data Scientist @ Prodapt Solutions',
 'Data Scientist - Python/ SQL',
 'Data Scientist - Python & Machine Learning']

In [34]:
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [35]:
company = []

for i in company_tag[:10]:
    company.append(i.text)
    
company

['Inflexion Analytix Private Limited',
 'CES Ltd.',
 'CES Ltd.',
 'IBM India Pvt. Limited',
 'Wipro',
 'Evalueserve.com Pvt. Ltd',
 'Ravgins International Pvt. Ltd.',
 'BIZZ-BUDDY ENTERPRISES PRIVATE LIMITED',
 'Schlesinger Group',
 'FUTURES AND CAREERS']

In [36]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [37]:
location = []

for i in location_tag[:10]:
    location.append(i.text)
    
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [38]:
experience_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [39]:
experience = []

for i in experience_tag[:10]:
    experience.append(i.text)
    
experience

['0-3 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '4-7 Yrs',
 '3-5 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '2-7 Yrs']

In [40]:
print(len(jobs),len(company),len(location),len(experience))

10 10 10 10

In [41]:
job1 = pd.DataFrame({})

job1['Title'] = jobs
job1['Company'] = company
job1['Location'] = location
job1['Experience'] = experience

job1

,Title,Company,Location,Experience
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",0-3 Yrs
1,Data Engineers /Data Scientist - CES IT LTD - ...,CES Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",3-5 Yrs
2,Data Engineers /Data Scientist - CES IT LTD - ...,CES Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",3-5 Yrs
3,Data Scientist,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",4-9 Yrs
4,Business Analyst- Data Scientist,Wipro,"Noida, Gurgaon/Gurugram",2-5 Yrs
5,Data Scientist,Evalueserve.com Pvt. Ltd,Gurgaon/Gurugram,4-7 Yrs
6,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-5 Yrs
7,Hiring For Data Scientist @ Prodapt Solutions,BIZZ-BUDDY ENTERPRISES PRIVATE LIMITED,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",5-10 Yrs
8,Data Scientist - Python/ SQL,Schlesinger Group,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-6 Yrs
9,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs

# Question - 6

In [42]:
#Connecting with the Chrome Driver

driver = webdriver.Chrome("chromedriver.exe")

In [43]:
#Opening Flipkart URL

driver.get('https://www.flipkart.com/')

In [44]:
#Closing Pop-ups if any 

driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [45]:
#Entering Sun Glasses in the Search Bar

search_tag = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_tag.send_keys('sunglasses')

In [46]:
#Click Search Bar Option

driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [47]:
#Creating Empty List to Scrape data into it

Brand = []
Product_Description = []
Price = []
Discount = []

In [48]:
#Applying for Loop for Brand tag, Product_Description tag, Price tag, Discount tag

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)

In [49]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

40 39 40 40

In [50]:
#Click to go next Page

driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [51]:
#Applying Same for loop for 2nd Page

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)

In [52]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

80 79 80 80

In [53]:
#Go to 3rd Page

driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]").click()

In [54]:
#applying for loop for 3rd Page Data

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)

In [55]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

120 119 120 120

In [56]:
#Loading Data into DataFrame

Sunglasses100 = pd.DataFrame({})

Sunglasses100['Brand'] = Brand[:100]
Sunglasses100['Product Description'] = Product_Description[:100]
Sunglasses100["Price"] = Price[:100]
Sunglasses100['Discount'] = Discount[:100]

Sunglasses100

,Brand,Product Description,Price,Discount
0,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
1,AISLIN,"UV Protection, Gradient Butterfly, Wayfarer Su...",₹516,66% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
4,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
...,...,...,...,...
95,PHENOMENAL,UV Protection Shield Sunglasses (Free Size),₹259,87% off
96,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹830,7% off
97,DEIXELS,"UV Protection, Mirrored, Others Aviator Sungla...",₹189,87% off
98,Singco India,UV Protection Aviator Sunglasses (57),₹227,77% off
99,GANSTA,"UV Protection, Gradient, Night Vision Retro Sq...",₹341,82% off

# Question - 7

In [57]:
#Connecting with the Chrome Driver

driver = webdriver.Chrome("chromedriver.exe")

In [58]:
#Loading URL

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [59]:
#Loading All Reviews

driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [60]:
#Creating Empty List to Scrape data into it

Rating = []
Review_Summary = []
Full_Review = []

In [61]:
#Applying for loop for first 11 pages to scrape data from it

for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(j.text)
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_Summary.append(k.text.replace('\n',' '))
    for m in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_Review.append(m.text.replace('\n',' '))
    for n in driver.find_elements_by_xpath("//a[@class='_1LKTO3']"):
        try:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[2]")
        except:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        time.sleep(2)

In [62]:
print(len(Rating),len(Review_Summary),len(Full_Review))

110 110 110

In [63]:
#Loading into Data Frame

Iphone_Reviews = pd.DataFrame({})

Iphone_Reviews['Rating'] = Rating[:100]
Iphone_Reviews['Review Summary'] = Review_Summary[:100]
Iphone_Reviews['Full Review'] = Full_Review[:100]

Iphone_Reviews

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
96,5,Fabulous!,This is my first iOS phone. I am very happy wi...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# Question - 8

In [64]:
#Connecting with the Chrome Driver

driver = webdriver.Chrome("chromedriver.exe")

In [65]:
#Opening Flipkart URL

driver.get('https://www.flipkart.com/')

In [66]:
#Closing Pop-ups if any 

driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [67]:
#Entering Sneakers in the Search Bar

search_tag = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_tag.send_keys('sneakers')

In [68]:
#Click Search Bar Option

driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [69]:
#Creating Empty List to Scrape data into it

Brand = []
Product_Description = []
Price = []
Discount = []

In [70]:
#Applying for loop for first 4 pages to scrape data from it

for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(k.text.replace('\n',' '))
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)
    for n in driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span"):
        try:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[2]").click()
        except:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
        time.sleep(5)

In [71]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

160 130 160 159

In [72]:
Sneakers100 = pd.DataFrame({})

Sneakers100['Brand'] = Brand[:100]
Sneakers100['Product Description'] = Product_Description[:100]
Sneakers100["Price"] = Price[:100]
Sneakers100['Discount'] = Discount[:100]

Sneakers100

,Brand,Product Description,Price,Discount
0,M K FOOTWEAR,Combo Pack of 2 Casual Shoes Sneakers For Men,₹369,63% off
1,Birde,Sneakers For Men,₹471,52% off
2,Magnolia,Casual Sneakers Shoes For Men Sneakers For Men,₹356,64% off
3,Robbie jones,Combo pack of 2 casual sneaker shoes for men S...,₹379,62% off
4,ORICUM,Sneakers For Men,₹377,62% off
...,...,...,...,...
95,Jack Diamond,Synthetic Leather Casual Partywear Wedding Sne...,₹644,40% off
96,Echor,Spring Season White Shoes Men Running Flat PU ...,₹599,25% off
97,SPARX,"Casual , Partywear Sneakers Shoes For Men's An...",₹973,48% off
98,World Wear Footwear,Latest Stylish Casual sneakers for men | Lace ...,₹259,75% off
99,Bond Street By Red Tape,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹873,71% off

# Question - 9

In [73]:
#Connecting with the Chrome Driver

driver = webdriver.Chrome("chromedriver.exe")

In [74]:
#Opening Flipkart URL

driver.get('https://www.myntra.com/shoes')

In [75]:
#Creating Empty List to Scrape data into it

Shoe_Brand = []
Shoe_Description = []
Shoe_Price = []

In [76]:
#Applying for loop to scrape black shoes under the range of 6k - 13k

for i in range(0,2):
    
    for a in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        Shoe_Brand.append(a.text)
        
    for b in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        Shoe_Description.append(b.text.replace('\n',' '))
     
    for c in driver.find_elements_by_xpath("//div[@class='product-price']"):
        x=c.text.split('Rs.')[1].strip()
        Shoe_Price.append(x)
            
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    
    time.sleep(4)

In [77]:
print(len(Shoe_Brand),len(Shoe_Description),len(Shoe_Price))

100 100 100

In [78]:
Black_Shoe100 = pd.DataFrame({})

Black_Shoe100['Shoe_Brand'] = Shoe_Brand
Black_Shoe100['Shoe_Description'] = Shoe_Description
Black_Shoe100['Shoe_Price(in INR)'] = Shoe_Price

Black_Shoe100

      Shoe_Brand                   Shoe_Description Shoe_Price(in INR)
0           Nike     AIR ZOOM PEGASUS Running Shoes              10920
1           Nike       Men KD13 EP Basketball Shoes              12995
2           Nike        Men JORDAN DELTA Basketball              12495
3           Geox        Men Leather Formal Slip-Ons              11242
4   Hush Puppies  Men Solid Leather Formal Slip-Ons               8999
..           ...                                ...                ...
95     Cole Haan                      Women Sandals               6749
96        Reebok         Men Nano X1 Training Shoes               6999
97        ADIDAS     Men Adizero Ubersonic 4 Tennis              10499
98  Kenneth Cole             Women Solid Flat Boots               9513
99          Nike        Women AIR MAX VIVA Sneakers              12495

[100 rows x 3 columns]

# Question - 10

In [79]:
driver = webdriver.Chrome("chromedriver.exe")

In [80]:
#opening the homepage of Amazon.in
driver.get('https://www.amazon.in')

In [81]:
search_bar = driver.find_element_by_id("twotabsearchtextbox") #locating search_bar by id

search_bar.clear()  #clearing search bar

search_bar.send_keys("Laptop")  #sending user input to search bar

time.sleep(4)

search_button = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]/span/input') #locating search bar by path

search_button.click() #clicking the button to search

In [82]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [83]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [84]:
laptop_url = []

laptop = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

for i in laptop[:20]:
    laptop_url.append(i.get_attribute('href'))
    
laptop_url

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A062210318VIMQDW9YCS9&url=%2FLenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN%2Fdp%2FB08WRZQBQ6%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1622292642%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1622292642&id=4453489765018402&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A06218591H7NJYCPGVE4U&url=%2FLenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN%2Fdp%2FB08P3M22QQ%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1622292642%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1622292642&id=4453489765018402&widgetName=sp_atf',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Notebook-Horizon-i5-10210U-Graphics-XMA1904-AR/dp/B089F5JGM1/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Dell-Latitude-E6420-Dedicated-Professional/dp/B07WWGBK47/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRHFV23/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/Asus-G703GI-E5148T-17-3-inch-i9-8950HK-Processor/dp/B07GRCW51K/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Lenovo-Legion-Gaming-Windows-82AW005SIN/dp/B08CQ21154/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/HP-35-56cms-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Lenovo-Touchscreen-LENOVO-THINKPAD-YOGA/dp/B08ZJFTZMJ/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/HP-Touchscreen-Computer-Quad-Core-Bluetooth/dp/B07WCTR386/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/Alienware-AW15R3-7001SLV-PUS-Gaming-Laptop-Generation/dp/B07QQLD1T4/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/Lenovo-ThinkPad-Gen14-inch-Microsoft-20RAS0AM00/dp/B08PD1HM1Q/ref=sr_1_14?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A06860221QCRR929CGS3R&url=%2FLenovo-Laptop-Windows-Graphics-82A1009KIN%2Fdp%2FB087D38ZP4%2Fref%3Dsr_1_15_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1622292642%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-15-spons%26psc%3D1&qualifier=1622292642&id=4453489765018402&widgetName=sp_mtf',
 'https://www.amazon.in/Razer-Blade-Gaming-Laptop-2019/dp/B07X379CZ9/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Dell-Alienware-m15-R3-15-6-inch/dp/B08BZR715W/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Dell-Inspiron-i7-1165G7-Integrated-D560414WIN9S/dp/B0919LL313/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/ASUS-Touchscreen-ScreenPad-Celestial-UX581GV-H9201T/dp/B07YSTDMNB/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1622292642&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20']

In [85]:
title = []
rating = []
price = []

for i in laptop_url:
    driver.get(i)
    time.sleep(3)
    for j in driver.find_elements_by_xpath("//h1[@class='a-size-large a-spacing-none']"):
        title.append(j.text.replace('\n',' '))
    for k in driver.find_elements_by_xpath("//span[@data-hook='rating-out-of-text']"):
        try:
            driver.find_elements_by_xpath("//span[@data-hook='rating-out-of-text']")
            rating.append(k.text)
        except NoSuchElementException:
            rating.append('Missing')
    for m in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']"):
        try:
            driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
            price.append(m.text)
        except NoSuchElementException:
            price.append('-')

In [86]:
rating

['4.2 out of 5',
 '4.6 out of 5',
 '3.6 out of 5',
 '4.4 out of 5',
 '3 out of 5',
 '3.7 out of 5',
 '4.4 out of 5',
 '4.4 out of 5',
 '4.8 out of 5',
 '3 out of 5',
 '4.5 out of 5',
 '4.3 out of 5',
 '2.9 out of 5',
 '4.5 out of 5',
 '2.9 out of 5',
 '3.5 out of 5',
 '3.8 out of 5',
 '4.4 out of 5']

In [87]:
print(len(title),len(rating),len(price))

20 18 15

In [88]:
#Loading Data into DataFrame

Laptop10 = pd.DataFrame({})

Laptop10['Title'] = title[:10]
Laptop10['Ratings'] = rating[:10]
Laptop10['Price'] = price[:10]

Laptop10

,Title,Ratings,Price
0,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.2 out of 5,"₹ 92,890.00"
1,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.6 out of 5,"₹ 1,07,990.00"
2,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,3.6 out of 5,"₹ 53,219.00"
3,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5,"₹ 35,000.00"
4,(Renewed) Dell Latitude E6420 14 Inch Laptop (...,3 out of 5,"₹ 29,990.00"
5,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.7 out of 5,"₹ 46,290.00"
6,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",4.4 out of 5,"₹ 2,01,524.00"
7,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.4 out of 5,"₹ 2,67,364.00"
8,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",4.8 out of 5,"₹ 87,990.00"
9,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",3 out of 5,"₹ 83,000.00"