In [1]:
#lets now import all the required library
import pandas as pd

from selenium import webdriver

import time

In [2]:
#Connecting with the Chrome Driver

driver = webdriver.Chrome("chromedriver.exe")

In [3]:
#Opening Flipkart URL

driver.get('https://www.flipkart.com/')

In [4]:
#Closing Pop-ups if any 

driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [5]:
#Entering Sun Glasses in the Search Bar

search_tag = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_tag.send_keys('sunglasses')

In [6]:
#Click Search Bar Option

driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [7]:
#Creating Empty List to Scrape data into it

Brand = []
Product_Description = []
Price = []
Discount = []

In [8]:
#Applying for Loop for Brand tag, Product_Description tag, Price tag, Discount tag

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)

In [9]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

40 39 40 40

In [10]:
#Click to go next Page

driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [11]:
#Applying Same for loop for 2nd Page

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)

In [12]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

80 79 80 80

In [13]:
#Go to 3rd Page

driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]").click()

In [14]:
#applying for loop for 3rd Page Data

for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(i.text)
for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(j.text.replace('\n',' '))
for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)
for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)

In [15]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

120 119 120 120

In [16]:
#Loading Data into DataFrame

Sunglasses100 = pd.DataFrame({})

Sunglasses100['Brand'] = Brand[:100]
Sunglasses100['Product Description'] = Product_Description[:100]
Sunglasses100["Price"] = Price[:100]
Sunglasses100['Discount'] = Discount[:100]

Sunglasses100

,Brand,Product Description,Price,Discount
0,AISLIN,"UV Protection, Gradient Butterfly, Wayfarer Su...",₹516,66% off
1,ROYAL SON,UV Protection Rectangular Sunglasses (Free Size),₹664,66% off
2,Fastrack,UV Protection Wayfarer Sunglasses (55),₹570,28% off
3,HIPPON,UV Protection Retro Square Sunglasses (Free Size),₹251,79% off
4,PHENOMENAL,"UV Protection, Gradient Rectangular Sunglasses...",₹399,80% off
...,...,...,...,...
95,AISLIN,"UV Protection, Gradient Retro Square Sunglasse...",₹425,80% off
96,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹499,75% off
97,ROZZETTA CRAFT,"Mirrored, UV Protection, Gradient Round Sungla...",₹399,72% off
98,hipe,"UV Protection, Mirrored Aviator, Wayfarer Sung...",₹210,85% off
99,NuVew,UV Protection Round Sunglasses (Free Size),₹339,71% off

# Question - 7

In [17]:
#Connecting with the Chrome Driver

driver = webdriver.Chrome("chromedriver.exe")

In [18]:
#Loading URL

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")

In [19]:
#Loading All Reviews

driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [20]:
#Creating Empty List to Scrape data into it

Rating = []
Review_Summary = []
Full_Review = []

In [21]:
#Applying for loop for first 11 pages to scrape data from it

for i in range(0,11):
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(j.text)
    for k in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_Summary.append(k.text.replace('\n',' '))
    for m in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_Review.append(m.text.replace('\n',' '))
    for n in driver.find_elements_by_xpath("//a[@class='_1LKTO3']"):
        try:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[2]")
        except:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        time.sleep(5)

In [22]:
print(len(Rating),len(Review_Summary),len(Full_Review))

110 110 110

In [23]:
#Loading into Data Frame

Iphone_Reviews = pd.DataFrame({})

Iphone_Reviews['Rating'] = Rating[:100]
Iphone_Reviews['Review Summary'] = Review_Summary[:100]
Iphone_Reviews['Full Review'] = Full_Review[:100]

Iphone_Reviews

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget. I’m am v...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
96,5,Fabulous!,This is my first iOS phone. I am very happy wi...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# Question - 8

In [24]:
#Connecting with the Chrome Driver

driver = webdriver.Chrome("chromedriver.exe")

In [25]:
#Opening Flipkart URL

driver.get('https://www.flipkart.com/')

In [26]:
#Closing Pop-ups if any 

driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()

In [27]:
#Entering Sneakers in the Search Bar

search_tag = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_tag.send_keys('sneakers')

In [28]:
#Click Search Bar Option

driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [29]:
#Creating Empty List to Scrape data into it

Brand = []
Product_Description = []
Price = []
Discount = []

In [30]:
#Applying for loop for first 4 pages to scrape data from it

for i in range(0,4):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(k.text.replace('\n',' '))
    for l in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(l.text)
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(m.text)
    for n in driver.find_elements_by_xpath("//a[@class='_1LKTO3']/span"):
        try:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[2]").click()
        except:
            driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
        time.sleep(5)

In [31]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

160 136 160 159

In [32]:
Sneakers100 = pd.DataFrame({})

Sneakers100['Brand'] = Brand[:100]
Sneakers100['Product Description'] = Product_Description[:100]
Sneakers100["Price"] = Price[:100]
Sneakers100['Discount'] = Discount[:100]

Sneakers100

,Brand,Product Description,Price,Discount
0,French Connection,Sneakers For Men,₹999,50% off
1,Birde,Casual Shoes Sneakers For Men,₹359,28% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,Robbie jones,Sneakers For Men,₹449,55% off
4,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off
...,...,...,...,...
95,M K FOOTWEAR,White Sneakers Sneakers For Men,₹389,68% off
96,KULP,Latest Stylish Casual sneakers for men | Lace ...,₹319,71% off
97,Jokatoo,BMW MMS Future Kart Cat Sneakers For Men,₹423,55% off
98,Birde,Casual Sneaker Sneakers For Men,₹661,60% off
99,Noztile,Flex R Dual IDP Sneakers For Men,₹399,62% off